@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100;200&family=Source+Serif+Pro:wght@200;400&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    background-image: url(../img/587531.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 22px;
}
.container{
    max-width: 1700px;
    margin: 0 auto;
}
.header{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}
.logo{
    width: 25%;
}
.links{
    text-decoration: none;
    color: white;
    padding: 10px;
    border: white 3px solid;
    border-radius: 20px;
    background-color: none ;
    opacity: 0.7;
    transition-duration: 0.5;
    font-size: 35px;
}
.links:hover{
    transform: scale(0.9);
    color: #00FA9A;
}
.container-plot{
    opacity: 0.7;
    background-color: white;
    margin-top: 100px;
    font-family:'Source Serif Pro', serif;
    border-radius: 20px;
    padding: 20px;
    color: black;
    text-align: justify;
}
nav a{
    text-decoration: none;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 80px;
    padding-left: 80px;
    color: black;
}
nav a:hover{
    color: #00FA9A;
}
h1{
    font-size: 30px;
}