@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100;200&family=Source+Serif+Pro:wght@200;400&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    background-image: url(../img/cropped-3840-2160-553248.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 22px;
}
.container{
    max-width: 1700px;
    margin: 0 auto;
}
.header{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}
.logo{
    width: 25%;
}
.links{
    text-decoration: none;
    color: white;
    padding: 10px;
    border: white 3px solid;
    border-radius: 20px;
    background-color: none ;
    opacity: 0.7;
    transition-duration: 0.5;
}
.links:hover{
    transform: scale(0.9);
    color: #00FA9A;
}
.history{
    opacity: 0.8;
    background-color: white;
    margin-top: 100px;
    font-family: 'Source Serif Pro', serif;
    border-radius: 20px;
    padding: 20px;
    color: black;
    padding-top: 20px;
    text-align: justify;
}
h1{
    text-align: center;
    padding-bottom: 10px;
}